.DS_Store
node_modules
package-lock.json

# svelte
svelte/node_modules
svelte/dist
svelte/dist-ssr
*.local
svelte/.vscode
svelte/package-lock.json

# solidjs
solidjs/node_modules
solidjs/dist
solidjs/package-lock.json

# reactjs
reactjs/node_modules
reactjs/coverage
reactjs/build
