.Container {
	background-color: #fff1;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem;
	overflow-y: auto;
	max-height: 100vh;
	text-shadow: -1px -1px 0 #0008, 1px -1px 0 #0008, -1px 1px 0 #0008, 1px 1px 0 #0008;
}

.Container > * {
	margin: 0.33rem 0;
}

/*.Container input[type=radio] + * {*/
.Container input {
	margin: 0rem 0.25rem;
}

.Long { width: 8rem; }
.Medium { width: 5.5rem; }
.Short { width: 2.5rem; }
